body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  padding: 10px;
}

#messages {
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

.container {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .container {
    flex-direction: column;
  }
  form input {
    height: 100px;
    background-color: green;
  }
  form button {
    height: 100px;
  }
}
